/**
 * 定义公共样式
 */

//最多展示两行
.line-clamp-2{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}
.card{
	border: 1px solid #f9f9f9;
	border-radius: 5px;
	margin: 12px;
	padding: 12px;
	box-shadow: 2px 2px 5px 1px rgba(143,143,143,0.1);
}